#boddy{
    text-align: center;
}
#surveybody{
    background-image: linear-gradient(white 50%, #EFA374 50%);
    width:100%;
    height:100%;
    margin-top:70px;
    text-align: center;
}
strong{
    font-size:40px;
}
#titlechat{
    color: #EFA374;

}
#selectq{
    width:300px;
    background-color: white;
    border: 1px solid #EFA374;
    border-radius: 30px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    color:#EFA374;

    margin: 0;
    margin-top:60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;


    background-image:
    linear-gradient(45deg, transparent 50%, #EFA374 50%),
    linear-gradient(135deg, #EFA374 50%, transparent 50%),
    radial-gradient(white 70%, transparent 72%);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
    background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
    background-repeat: no-repeat;
}
#selectq option:hover {
    color: black;
}

#surveybox{
    margin-top:40px;
    padding-bottom:100px;
}
#questionpart{
    width:50%;
    margin-left:25%;
    height: 100px;
    background: #F7F1ED;
    border-radius: 30px 30px 0px 0px;
    font-weight: 400;
    font-size: 25px;
    padding-top: 30px;
    color:#EFA374;
}
#question{
    color:black;
}
#collectpart{
    background-color: white;
    width:50%;
    margin-left:25%;    
    height: 270px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 30px 30px;
    padding-top:60px;
    padding-left:7%;
    margin-bottom:-25px;
}
#answerbox{
    width: 147px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 15px;
    color: #EFA374;
    text-align: center;
    padding-top:13px;
    margin-right:5px;
}
#commendbtn{
    width: 280px;
    height: 50px;
    background: #B95C37;
    border-radius: 20px;
    border:0px;
    color:white;
    text-align:center;
} 
