.loading-container {
  width: 100vw;
  height: 100vh;
  background: $bodycolor;
}

.mld {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $themecolor;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 5em;
  }

.usermovie-container .loading-container .mld {
  top:39%;
}

.talk-bubble {
  width: 97%;
  margin: 10px;
  margin-left: 30px;
  background: white;
  border-radius: 25px 25px 25px 0px;
  padding: 20px;
  padding-left: 20px;
  margin-top: 0px;

  .emotion {
    color: $headingtext;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .basic {
    color: #838383;
    font-size: 20px;
  }

  .plain {
    margin-bottom:5px;
    word-break: keep-all;
  }
}

.mld .letter {
    display: inline-block;
    line-height: 1em;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }

.circle {
    width: 100%;
    height: 100%;
    opacity: 0;
    scale: 1;
}

.circle1 {
    left: 23%;
    top: 32%;
    width : 100px;
    height : 100px;
    border-radius: 50%;
    background-color: $themecolor;
    position: absolute;
}

.circle2 {
    right: 23%;
    top: 22%;
    width : 140px;
    height : 140px;
    border-radius: 50%;
    background-color: $themecolor;
    position: absolute;
}

.circle3 {
    right: 47%;
    top: 72%;
    width : 140px;
    height : 140px;
    border-radius: 50%;
    background-color: $themecolor;
    position: absolute;
}