.save-page {
    background-color: #F9F4E8;
}

.save-page-container {
    background-color: white;
    border-radius: 10px;
    // display: flex;
    // justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.save-title {
    color: #B95C37;
}

.paging {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.page-link {
    color: black;
}

.contents {
    background-color: grey;
}

.content-card {
    width: 200px;
    height: 300px;
    padding: 0;
}


.img-content {
    width: 100%;
    height: 80%;
    background-color: lightgrey;
    margin-bottom: 10px;
}

.contents-title {
    margin-bottom: 5px;
}

.contents-subtitle:last-child {
    margin-bottom: 10px;
}